<ion-content>
  <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="headh2">
                    <h1>Informasi Alur Pencairan Fee</h1>  
                  </div>
                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Data Pendaftaran</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>02 februari, 2022</span>
                        <p class="text-small mt-2 font-weight-light"><a>Pengecekan nominal fee pendaftar</a> dapat di cek melalui menu <i>Data Pendaftaran</i>.<br>
                          Pastikan terdapat jumlah fee pendaftaran.
                        </p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Konfirmasi ke bagian BAUM</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>5 April, 2022</span>
                        <p class="text-small mt-2 font-weight-light"><a>BAUM,</a> Silahkan anda untuk konfirmasi dengan menunjukan daftar data pendaftaran dengan status <a>"Verifikasi Pendaftaran Ok".</a></p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Proses pencarian fee selesa</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i></span>
                    </li>
                </ul><!-- End -->
  
            </div>
        </div>
    </div>
  </ion-content>