<ion-content>
<div class="container py-5">
    <div class="headh2">
      <h1>Informasi Alur PMB</h1>  
    </div>
    
      <div class="row">
          <div class="col-lg-7 mx-auto">
              
              <!-- Timeline -->
              <ul class="timeline">
                  <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                      <div class="timeline-arrow"></div>
                      <h2 class="h5 mb-0">Pendaftaran</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>02 januari, 2022</span>
                      <p class="text-small mt-2 font-weight-light">Kegiatan pendaftaran dapat dilakukan mulai tanggal 2 januari 2022<br>
                        Biaya Pendaftaran sebesar Rp. 300.000,00
                      </p>
                  </li>
                  <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                      <div class="timeline-arrow"></div>
                      <h2 class="h5 mb-0">Mengikuti Tes Potensial Akademik dan Wawancara</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>5 April, 2022</span>
                      <p class="text-small mt-2 font-weight-light">Tes Potensi Akademik (TPA) Kegiatan ini dilakukan untuk mengetahui kompetisi pengetahuan umum dimana ada 3 jenis pertanyaan diantaranya adalah pertanyaan logika, matematika dan umum, TPA dilakukan menggunakan berbasis komputer yang diselenggarakan offline/online. Wawancara kegiatan ini dilakukan untuk mengetahui minat dan bakat calon mahasiswa.</p>
                  </li>
                  <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                      <div class="timeline-arrow"></div>
                      <h2 class="h5 mb-0">Pengumuman Hasil TPA dan Melakukan Biaya Daftar Ulang</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>18 August, 2022</span>
                      <p class="text-small mt-2 font-weight-light">Kegiatan daftar ulang Bisa dilakukan secara online atau offline.<br>
                        Setelah ada pengumuman mengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang dinyatakan lolos bisa langsung melakukan kegiatan daftar ulang.
                      </p>
                  </li>
                  <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                      <div class="timeline-arrow"></div>
                      <h2 class="h5 mb-0">Melakukan Kegiatan Pra-Studi</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>10 October, 2022</span>
                      <p class="text-small mt-2 font-weight-light">Pelaksanaan Kegiatan Pra-Studi Dilakukan di 1 lokasi.</p><br>
                      <p class="text-small mt-2 font-weight-light">Fakultas Ekonomi dan Komputer dilaksanakan di Gedung Kampus Pajajaran.</p>
                  </li>
              </ul><!-- End -->

          </div>
      </div>
  </div>
</ion-content>